body{
    background-color: rgb(41, 4, 4);
    background-image: url("bgbooks.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    align-content: center;

}

div{
    background-color: rgba(26, 145, 78, 0.568);
    padding: 250px;
    border-radius: 40%;
    display: inline-block;
    margin: 21% ;
    vertical-align: middle;
}

a{
    color: rgb(63, 16, 16);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
a:hover{
    color: aliceblue;

}