.container-fluid {
  height: 100vh;
  width: auto;
  background-color: #222831;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.buttonInside {
  background-color: transparent;
}
#voice-trigger {
  position: absolute;
  right: 0;
  top: 7.5px;
  margin-inline-end: 13px;
}

#voice-trigger :hover {
  cursor: pointer;
  border-style: solid;
  border-radius: 50px;
  border-color: #46b3e6;
  background-color: #46b3e6;
  fill: antiquewhite;
}

#voice-trigger svg {
  fill: #46b3e6;
  padding: 2px;
}

#voice-trigger.active svg {
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    fill: 1;
  }
  50% {
    -webkit-transform: scale(1, 1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}

.form-control {
  background-color: #393e46 !important;
  color: white !important;
  border-color: #000000 !important;

}

div {
  font-family: "Roboto Mono", monospace;
}

.btn-group {
  width: 100%;
  
}
.dropdown-menu {
  width: 100%;
  background-color: #393e46;
  
}
.dropdown-menu :hover {
  background-color: #46b3e6;
}
.dropdown-menu > li {
  padding: 7px;
  color: white;
  text-align: center;
  font-size: medium;


