.container-fluid {
  height: 100vh;
  width: auto;
  background-color: #015668;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.buttonInside{
    position:relative;
    margin-bottom:10px;