html,
body {
  margin: 0;
  padding: 0;
}

.landing-section {
  width: 100%;
  height: 100vh;
}

.floatingNav {
  border-radius: 2px;
  box-shadow: 0px 1px 10px #999;
  transition: 0.3s ease-in-out;
}

.search-form {
  position: relative;
}

.mic-button {
  position: absolute;
  top: 0;
  right: 16px;
  bottom: 0;
  background-color: transparent;
  outline: none;
  border: none;
  width: 2rem;
}

.card-body {
  padding: 1rem;
}
