body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.landing {
  padding-top: 20vh;
}

.home-text {
  padding-top: 10vh;
  font-size: 10rem;
  font-weight: 300;
}

.mic-box {
  padding-top: 10vh;
}

#speech.btn {
  border: none;
  padding: 0;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  font-size: 1.5em;
  color: #fff;
  padding: 0;
  margin: 0;
  background: #001b58;
  position: relative;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
}

.pulse-ring {
  content: "";
  width: 150px;
  height: 150px;
  border: 5px solid #001b58;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  animation: pulsate infinite 2s;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
