.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#center-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#chat-circle {
    z-index: 9998;
    position: fixed;
    bottom: 30px;
    right: 35px;
    background: #001730;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.6),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn#my-btn {
    background: white;
    padding-top: 13px;
    padding-bottom: 12px;
    border-radius: 45px;
    padding-right: 40px;
    padding-left: 40px;
    color: #5865c3;
}

#chat-overlay {
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
}

.chat-box {
    z-index: 9999;
    display: none;
    background: #efefef;
    position: fixed;
    right: 5px;
    bottom: 5px;
    width: 350px;
    max-width: 85vw;
    max-height: 100vh;
    border-radius: 5px;
    /* box-shadow: 5px 5px 5px 5px #f9f300; */
    /* box-shadow: 5px 5px 5px 5px #464a92; */
    /* box-shadow: 0px 5px 35px 9px #ccc; */
}

.chat-box-toggle,
.chat-header-refresh,
.chat-header-upload {
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

.chat-box-header {
    /* background: #5A5EB9; */
    background: #001730;
    height: 55px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* color: white; */
    color: white;
    font-size: 18px;
    /* font-weight: bolder; */
    padding-top: 17px;
    padding-left: 20px;
}

.chat-box-body {
    position: relative;
    height: 370px;
    height: auto;
    border: 1px solid #ccc;
    overflow: hidden;
}

.chat-box-body:after {
    content: "";
    background-color: #f6f4f2;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#chat-input {
    background: #f4f7f9;
    width: 100%;
    position: relative;
    height: 47px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: none;
    resize: none;
    outline: none;
    border: 1px solid #ccc;
    color: #888;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}

.chat-input > form {
    margin-bottom: 0;
}

#chat-input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ccc;
}

#chat-input::-moz-placeholder {
    /* Firefox 19+ */
    color: #ccc;
}

#chat-input:-ms-input-placeholder {
    /* IE 10+ */
    color: #ccc;
}

#chat-input:-moz-placeholder {
    /* Firefox 18- */
    color: #ccc;
}

.chat-submit {
    position: absolute;
    bottom: 3px;
    right: 10px;
    background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 50%;
    color: #5a5eb9;
    width: 35px;
    height: 35px;
}

.chat-logs {
    padding: 15px;
    height: 370px;
    overflow-y: scroll;
}

.chat-logs::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.chat-logs::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

.chat-logs::-webkit-scrollbar-thumb {
    background-color: #5a5eb9;
}

@media only screen and (max-width: 500px) {
    .chat-logs {
        height: 40vh;
    }
}

.chat-msg.bot > .msg-avatar img {
    /* width: 45px; */
    height: 35px;
    border-radius: 50%;
    float: left;
    /* width: 15%; */
}

.chat-msg.user > .msg-avatar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: right;
    width: 15%;
}

.cm-msg-text {
    background: white;
    padding: 10px 15px 10px 15px;
    color: #666;
    max-width: 75%;
    float: left;
    margin-left: 10px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
}

.chat-msg {
    clear: both;
}

.chat-msg.user > .cm-msg-text {
    float: right;
    margin-right: 10px;
    background: black;
    color: white;
}

.cm-msg-button > ul > li {
    list-style: none;
    float: right;
    margin-bottom: 15px;
    margin-right: 10px;
}

.cm-msg-button > ul > li > a {
    padding: 7px 10px;
}

.cm-msg-button {
    clear: both;
    margin-bottom: 70px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .fileupload {
        margin-left: 120px !important;
    }
}
